@{
    ViewBag.Title = "Purchased Stocks";
}

<div class="row">
    <div class="col-lg-6 col-lg-offset-2">
        <hgroup class="title">
            <h1>@ViewBag.Title</h1>
        </hgroup>
    </div>

    <div class="col-lg-8 col-lg-offset-2">
        <table class="table table-striped table-bordered table-condensed">
            <tr>
                <th>Stock Name</th>
                <th>Number Owned</th>
                <th>Price</th>
                <th>Thoughts</th>
                <th>Total Bought</th>
                <th>Total Sold</th>
            </tr>

            <tr>
                <td>@Html.ActionLink("AAPL", "IndividualStock", new { ticker = "AAPL" })</td>
                <td>4</td>
                <td>$113.70</td>
                <td>Sell In June</td>
                <td>7</td>
                <td>3</td>
            </tr>

            <tr>
                <td>@Html.ActionLink("MSFT", "IndividualStock", new { ticker = "MSFT" })</td>
                <td>8</td>
                <td>$86.90</td>
                <td>Buy More Soon</td>
                <td>8</td>
                <td>0</td>
            </tr>

            <tr>
                <td>@Html.ActionLink("GOOG", "IndividualStock", new { ticker = "GOOG" })</td>
                <td>10</td>
                <td>$500.00</td>
                <td>Split Stocks</td>
                <td>13</td>
                <td>3</td>
            </tr>

            <tr>
                <td>@Html.ActionLink("FB", "IndividualStock", new { ticker = "FB" })</td>
                <td>5</td>
                <td>$60.70</td>
                <td>Buy When Down</td>
                <td>5</td>
                <td>0</td>
            </tr>

            <tr>
                <td>@Html.ActionLink("WMT", "IndividualStock", new { ticker = "WMT" })</td>
                <td>2</td>
                <td>$20.70</td>
                <td>Sell Soon!</td>
                <td>7</td>
                <td>5</td>
            </tr>

        </table>
    </div>
</div>