@{
    ViewBag.Title = "Individual Stocks";
}

<style>
    #buy-modal-container, #sell-modal-container {
        height: 400px;
        width: 500px;
        background-color: white;
        margin-left: 30%;
    }

    #buy_quantity, #sell_quantity {
        width: 200px;
    }

</style>


<div class="row">
    <div class="col-lg-6 col-lg-offset-2">
        <h1>Stock Description</h1>
    </div>
    <div class="col-lg-12">
        <img src=@ViewBag.Image class="image-rounded" />
    </div>
    <div class="col-lg-6 col-lg-offset-3">
        <div>
            <table class="table table-striped table-bordered table-condensed">
                <tr>
                    <td>Stock Name</td>
                    <td>@ViewBag.StockName</td>
                </tr>
                <tr>
                    <td>Number Owned</td>
                    <td>@ViewBag.NumOwned</td>
                </tr>
                <tr>
                    <td>Price</td>
                    <td>@ViewBag.Price</td>
                </tr>
                <tr>
                    <td>Thoughts</td>
                    <td>@ViewBag.Thoughts</td>
                </tr>
                <tr>
                    <td>Total Bought</td>
                    <td>@ViewBag.TotalBought</td>
                </tr>
                <tr>
                    <td>Total Sold</td>
                    <td>@ViewBag.TotalSold</td>
                </tr>
            </table>
        </div>
    </div>
    <div class="col-md-8 col-md-offset-3">
        <div class="col-md-2">
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#buy-modal-container">Buy</button>
        </div>
        <div class="col-md-2">
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#sell-modal-container">Sell</button>
        </div>
        <div class="col-md-2 col-md-offset-2">
            <button type="button" onclick="location.href='Index'" class="btn btn-default">Back</button>
        </div>
    </div>
</div>


<div id="buy-modal-container" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h2 class="modal-title">Buy New Stocks</h2>
    </div>
    <div class="modal-body">
        <p class="validateTips">All form fields are required.</p>
        <form role="form" id="form1">
            <div class="form-group">
                <label for="buy_name">Stock Name:</label>
                <p> @ViewBag.StockName </p>
            </div>
            <div class="form-group">
                <label for="buy_price">Stock Price:</label>
                <p> @ViewBag.Price </p>
            </div>
            <div class="form-group">
                <label for="buy_quantity">Quantity:</label>
                <input type="text" name="quantity" id="buy_quantity" class="form-control">
            </div>
        </form>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" onclick="Button_Click">Buy</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal" aria-hidden="true">Cancel</button>
    </div>
</div>

<div id="sell-modal-container" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h2 class="modal-title">Sell Stocks</h2>
    </div>
    <div class="modal-body">
        <p class="validateTips">All form fields are required.</p>
        <form role="form" id="form1">
            <div class="form-group">
                <label for="sell_name">Stock Name:</label>
                <p> @ViewBag.StockName </p>
            </div>
            <div class="form-group">
                <label for="sell_price">Stock Price:</label>
                <p> @ViewBag.Price </p>
            </div>
            <div class="form-group">
                <label for="sell_quantity">Quantity:</label>
                <input type="text" name="quantity" id="sell_quantity" class="form-control">
            </div>
        </form>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary">Sell</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal" aria-hidden="true">Cancel</button>
    </div>
</div>
